SERVICE_NAME = go-wrapper-vendor-v2
APP_HOST = localhost:8000
APP_PORT = 8000

PHP_API = http://{project_name}.api.ruparupastg.my.id/

DB_HOST_MASTER = 192.168.13.8
DB_NAME_MASTER = ruparupadb_2_{project_name}
DB_PORT_MASTER = 53306
DB_USER_MASTER = developer
DB_PASS_MASTER = D3veloper382

DB_HOST_SLAVE1 = stg.db.ruparupastg.my.id
DB_NAME_SLAVE1 = ruparupadb_2_{project_name}
DB_PORT_SLAVE1 = 53306
DB_USER_SLAVE1 = developer
DB_PASS_SLAVE1 = D3veloper382

DB_MAX_OPEN_CONNECTION = 115
DB_MAX_IDLE_CONNECTION = 5
DB_MAX_LIFETIME_IN_MINUTE = 5

ELASTIC_HOST = 192.168.13.8
ELASTIC_PORT = 59200
ELASTIC_SCHEME = http
ELASTIC_USERNAME =
ELASTIC_PASSWORD =
ELASTIC_PRODUCT_INDEX = productsvariant_staging_{project_name}
ELASTIC_PRODUCT_TYPE = product

WRITE_TO_LOG = ON
LOG_PARAM_FILE = ON
ECHO_LOGGER = ON

# Usage if this repo containt private library
BITBUCKET_USERNAME = 
BITBUCKET_API = 

LAZADA_AUTH_URL= https://auth.lazada.com/
LAZADA_API_URL = https://api.lazada.com/rest
LAZADA_REDIRECT_URL = https://ruparupa.com/
LAZADA_APP_KEY = 109662 
LAZADA_APP_SECRET = jHx2840b7k1h4lQYvszkfe08i5SyFgQf 
LAZADA_AVAILABLE_COUNTRY= id
LAZADA_REGION_API = https://api.lazada.co.id/rest